PORT=5001
# MONGO_URI pour le développement local
MONGO_URI=mongodb://127.0.0.1:27017/erp-evaluation

# MONGO_URI pour MongoDB Atlas (exemple)
# MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/erp?retryWrites=true&w=majority

JWT_SECRET=votre_clef_secrete_ici

# Configuration Email (SMTP)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=votre_email@gmail.com
SMTP_PASS=votre_mot_de_passe_app
FROM_EMAIL="Nom ERP <nom@votre-domaine.com>"
