PORT=5006
MONGO_URI=mongodb://localhost:27017/C:\Users\MSI\Desktop\erp\frontend>npm start

> erp-frontend@1.0.0 start
> react-scripts start

'react-scripts' n’est pas reconnu en tant que commande interne
ou externe, un programme exécutable ou un fichier de commandes.
JWT_SECRET=une_clef_secret_pour_jwt
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=aminebensmida46@gmail.com
SMTP_PASS=fqycqeyobqepbqax
FROM_EMAIL="aminebensmida46@gmail.com"
